/*
    As this button is a 'link' we tweak it to not have an underline as it looks super weird with an icon
*/
.block-visibility-schedule-controls .block-visibility-set-date-time.is-link {
    text-decoration: none;
    margin-left: -10px;
}

/*
    Button icon needs some room
*/
.block-visibility-schedule-controls .block-visibility-set-date-time span {
    margin-right: 10px;
}

.block-visibility-schedule-controls .components-dropdown {
    margin: 1rem 0 0;
}

/*
    Tweak the 'clear' date and time button
*/
.block-visibility-schedule-controls .block-visibility-clear-date-time svg {
    fill: transparent;
}