/*
    As this button is a 'link' we tweak it to not have an underline as it looks super weird with an icon
*/
.content-visibility-schedule-controls .content-visibility-set-date-time.is-link {
    text-decoration: none;
    margin-left: -10px;
}

/*
    Button icon needs some room
*/
.content-visibility-schedule-controls .content-visibility-set-date-time span {
    margin-right: 10px;
}

.content-visibility-schedule-controls .components-dropdown {
    margin: 1rem 0 0;
}

/*
    Tweak the 'clear' date and time button
*/
.content-visibility-schedule-controls .content-visibility-clear-date-time svg {
    fill: transparent;
}

/*
    The DateTime Picker Popover needs some love
*/
.wp-admin .content-visibility-picker-popover .components-datetime__time {
    padding: 1rem;
    background: rgb(245,245,245);
}

.wp-admin .content-visibility-picker-popover .components-datetime__buttons {
    display: none;
}

.wp-admin .content-visibility-picker-popover .components-datetime__date {
    padding-left: 17px;
}

.wp-admin .content-visibility-picker-popover .CalendarMonth.CalendarMonth_1 {
    padding: 0 !important;
}